<script type="text/javascript">
$(document).ready(function(){
    function updateParForm() {
	$.ajax({
	    type: "POST",
	    url: "{% url tardis.apps.mrtardis.views.parForm experiment_id %}",
	    data: {
		dataset: {{ dataset }}
	    },
	    success: function(data) {
		$("#parForm").html(data);
	    }
	});
    }
    function updateFileList(type) {
	$.ajax({
	    type: "POST",
	    url: "{% url tardis.apps.mrtardis.views.type_filtered_file_list dataset.id %}",
	    data: {
		type: type,
	    },
	    success: function(data) {
		console.log(data);
		console.log(type);
		$(type).html(data);
	    }
	});
    }

    function extractPDBzips() {
	console.log("nothing");
	$.ajax({
	    type: "GET",
	    url: "{% url tardis.apps.mrtardis.views.extractPDBzips dataset.id %}",
	    success: function(data) {
		updateFileList(".pdb");
	    }
	});
    }
    updateFileList(".mtz");
    updateFileList(".pdb");

    $('.upload_files_link').bind('click', function( event ){
	$('.upload_files_container').each(function(index) {
            $(this).html("");
	});
	$('.upload_files_link').each(function(index) {
            $(this).show();
	});
	var message = escape( $(this).html());
	$(this).hide();
	$(this).siblings(".upload_files_container"
			).load("/ajax/upload_files/" + {{dataset.id}} + "/" + "?message=" +  message );
	$("#uploadify").die("allUploadsComplete");
	if (message.indexOf("MTZ") != -1) {
	    $("#uploadify").live("allUploadsComplete",
				 function(e, data){
				     updateFileList(".mtz");
				     updateParForm();
				 });
	} else if (message.indexOf("PDB") != -1) {
	    console.log("pdb if statement");
	    $("#uploadify").live("allUploadsComplete",
				 function(e, data){
				     console.log("we're bound");
				     extractPDBzips();
				 });
	}
    });
});
</script>
<h2>Job/dataset name: {{ dataset.description }}</h2>
<h3>MTZ file</h3>
<p><b>Already stored files</b>
<div id="fileList" class="mtz">
</div></p>
<p><b>Please upload your structure factors as MTZ file.</b> <br/>If you accidentally upload the wrong one, please cancel this form (see below) and start over.
</p>
<div class="uploadMTZfile">
  <a class="upload_files_link">Upload your MTZ file</a>
  <div class="upload_files_container"></div>
</div>

<h3>PDB file(s)</h3>
<p><b>Already stored files</b>
<div id="fileList" class="pdb">
</div></p>
<p><b>Please upload one or more PDB files.</b><br/> You can upload them separately or in a zip file or mix both.
</p>
<div class="uploadPDBfiles">
  <a class="upload_files_link">Upload your PDB file(s)</a>
  <div class="upload_files_container"></div>
  <input class="dataset_id" type="hidden" value="{{dataset.id}}" />
</div>

<h3>Run parameters</h3>
<p>These files are going to be used for the molecular replacements
<div id="fileList" class="mtz"></div>
<div id="fileList" class="pdb"></div>
<div id="parForm">
</div>
</p>


<!-- debug <p>
Dataset ID: {{ dataset }}
Experiment ID: {{ experiment_id }}
</p> -->